*,
*::before,
*::after {
    box-sizing: border-box;
} 

:root {
    --bg-main: #A75D5DBF; 
    --bg-card: #F0997D4A; 
    --main-text: #FFFFFF; 
    --accent-: #FFC3A1; 
    --accent-2: #000000; 

    font-size: 14px;
}

*{
    font-family: 'Inknut Antiqua', 'Hi Melody', Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--main-text); 
}
    
body{ 
    background-color: var(--bg-main);
}

h1 , .accent {
    text-align: center;
    font-size: 45px;
    color: var(--accent-);
    font-style: 'Hi Melody';
}

h4 {
    text-align: center;
}

form {
    border: 3px solid transparent;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 31.5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #F0997D4A;
  }
 
  button {
    background-color: var(--accent-);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: var(--accent-2);
  }

  .placeholder {
    color: var(--main-text);
  }
  
  .change {
    color: var(--bg-main);
  }

  @media screen and (max-width: 768px) and (max-width: 1441px) {
    main: {
        width: 390px;
        height: 844px;
        margin: 0;
        padding: 0;
    }
  }