*,
*::before,
*::after {
    box-sizing: border-box;
} 

:root {
    --bg-main: #A75D5DBF; 
    --bg-card: #F0997D4A; 
    --main-text: #FFFFFF; 
    --accent-: #FFC3A1; 
    --accent-2: #000000; 

    font-size: 14px;
}

*{
    font-family: 'Inknut Antiqua', 'Hi Melody', Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--main-text); 
}




.image-grid > img {
    width: 1440px;
    height: 1024px;  
     object-fit: cover;
}

 .image-grid {
    order: 1;
    background-image: url("Assets/tide_trasher_x-MPuoF1Vz9pk-unsplash.jpg");
     min-height: 380px;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    width: 100%;
    height: 100%;
} 

 h1 {
    font-family: 'Hi Melody', Verdana;
    font-size: 80px;
    text-align: center;
    color: var(--accent-);
    display: flex;
    align-items: flex-start;
    position: absolute;
     margin: 192px 685px 752px 583px; 
} 
   
.container, h1 {
    max-width: 500px;  
    max-height: 500px; 
    padding: 17px;  
    position: absolute;  
    left: 28px;  
    top: 50px;  
    margin: 20px 50px;  
    /* background-color: var(--bg-main); */
    
}



  

  input[type="text"], input[type="password"] {
    margin: 17px 0px;
    width: 100%;
    padding: 17px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #F0997D4A;
  }
 
  button {
    background-color: var(--accent-);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }


  
  button:hover {
    background-color: var(--accent-2);
  }

  .placeholder {
    color: var(--main-text);
  }
  










@media screen and (min-width: 1440px) { 
main {
    width: 1110px;
    height: 446px;
}

}